# Mac Finder display config
*.DS_Store

# PyCharm configs
.idea*

# Python bytecode
*__pycache__

# notebook files and checkpoints
*.ipynb
*.ipynb_checkpoints

# ignoring GitHub workflows until finished
.github
